h1 { 
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;

}
body {
    background-color: aquamarine;
    margin: 10px;
}
p{
 font-style: italic;
 font-size: large;
}
.intro {
    color: red;
    font-style: italic;
    border: 12px;
}
.love {
    color:purple ;
}